In [390]:
import pandas as pd
link1='https://raw.githubusercontent.com/JohanaCrisos/PC3/refs/heads/main/Education%20expenditures.csv'
tabla1=pd.read_csv(link1)

link2='https://raw.githubusercontent.com/JohanaCrisos/PC3/refs/heads/main/Electricity%20-%20installed%20generating%20capacity.csv'
tabla2=pd.read_csv(link2)

link3='https://raw.githubusercontent.com/JohanaCrisos/PC3/refs/heads/main/Energy%20consumption%20per%20capita.csv'
tabla3=pd.read_csv(link3)

link4='https://raw.githubusercontent.com/JohanaCrisos/PC3/refs/heads/main/Reserves%20of%20foreign%20exchange%20and%20gold.csv'
tabla4=pd.read_csv(link4)

In [391]:
#Iniciamos limpiando las columnas
#quitar los espacios iniciales y finales de las columnas y sustituir
#los espacios entre lineas con _
tabla1.columns=tabla1.columns.str.strip().str.replace(r'\s+', '_', regex=True)
#tambien se arregló los nombres de las columnas
tabla1.columns=tabla1.columns.str.title()
tabla1.columns

Index(['Name', 'Slug', '%_Of_Gdp', 'Date_Of_Information', 'Ranking', 'Region'], dtype='object')

In [392]:
tabla2.columns=tabla2.columns.str.strip().str.replace(r'\s+', '_', regex=True)
tabla2.columns=tabla2.columns.str.title()
tabla2.columns

Index(['Name', 'Slug', 'Kw', 'Date_Of_Information', 'Ranking', 'Region'], dtype='object')

In [393]:
tabla3.columns=tabla3.columns.str.strip().str.replace(r'\s+', '_', regex=True)
tabla3.columns=tabla3.columns.str.title()
tabla3.columns

Index(['Name', 'Slug', 'Btu/Person', 'Date_Of_Information', 'Ranking',
       'Region'],
      dtype='object')

In [394]:
tabla4.columns=tabla4.columns.str.strip().str.replace(r'\s+', '_', regex=True)
tabla4.columns=tabla4.columns.str.title()
tabla4.columns

Index(['Name', 'Slug', 'Value', 'Date_Of_Information', 'Ranking', 'Region'], dtype='object')

In [395]:
#Ver si hay datos faltantes en las tablas
tabla1[tabla1.isnull().any(axis=1)]

Empty DataFrame
Columns: [Name, Slug, %_Of_Gdp, Date_Of_Information, Ranking, Region]
Index: []

In [396]:
tabla2[tabla2.isnull().any(axis=1)]

Empty DataFrame
Columns: [Name, Slug, Kw, Date_Of_Information, Ranking, Region]
Index: []

In [397]:
tabla3[tabla3.isnull().any(axis=1)]

Empty DataFrame
Columns: [Name, Slug, Btu/Person, Date_Of_Information, Ranking, Region]
Index: []

In [398]:
tabla4[tabla4.isnull().any(axis=1)]

Empty DataFrame
Columns: [Name, Slug, Value, Date_Of_Information, Ranking, Region]
Index: []

In [399]:
tabla1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 197 non-null    object
 1   Slug                 197 non-null    object
 2   %_Of_Gdp             197 non-null    float64
 3   Date_Of_Information  197 non-null    int64
 4   Ranking              197 non-null    int64
 5   Region               197 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 9.4+ KB

In [400]:
tabla2.info()
#la columna de Kw deberia ser numerica

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 211 non-null    object
 1   Slug                 211 non-null    object
 2   Kw                   211 non-null    object
 3   Date_Of_Information  211 non-null    int64
 4   Ranking              211 non-null    int64
 5   Region               211 non-null    object
dtypes: int64(2), object(4)
memory usage: 10.0+ KB

In [401]:
tabla3.info()
#la columna Btu/Person deberia ser numerica

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 195 non-null    object
 1   Slug                 195 non-null    object
 2   Btu/Person           195 non-null    object
 3   Date_Of_Information  195 non-null    int64
 4   Ranking              195 non-null    int64
 5   Region               195 non-null    object
dtypes: int64(2), object(4)
memory usage: 9.3+ KB

In [402]:
tabla4.info()
#la columna Value deberia ser numerica

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 195 non-null    object
 1   Slug                 195 non-null    object
 2   Value                195 non-null    object
 3   Date_Of_Information  195 non-null    int64
 4   Ranking              195 non-null    int64
 5   Region               195 non-null    object
dtypes: int64(2), object(4)
memory usage: 9.3+ KB

In [403]:
#analizaremos los "objetos extraños" en la tabla 2
pd.unique(tabla2.Kw[~tabla2.Kw.astype(str).str.contains(r'\d+\.\d+', regex=True)])

array(['2,949,000,000', '1,235,000,000', '499,136,000', '361,617,000',
       '301,926,000', '275,658,000', '240,251,000', '161,988,000',
       '151,463,000', '151,139,000', '130,366,000', '128,692,000',
       '119,620,000', '114,749,000', '108,193,000', '106,281,000',
       '105,586,000', '86,058,000', '85,725,000', '70,826,000',
       '65,989,000', '64,806,000', '64,535,000', '60,297,000',
       '59,982,000', '59,680,000', '55,971,000', '55,307,000',
       '47,631,000', '44,462,000', '43,512,000', '41,100,000',
       '39,238,000', '37,220,000', '33,493,000', '33,371,000',
       '31,339,000', '29,174,000', '28,248,000', '27,624,000',
       '26,782,000', '26,502,000', '25,409,000', '24,169,000',
       '22,699,000', '22,612,000', '22,591,000', '21,802,000',
       '21,053,000', '20,794,000', '20,294,000', '19,748,000',
       '17,901,000', '16,164,000', '14,829,000', '14,615,000',
       '13,300,000', '13,134,000', '12,939,000', '12,738,000',
       '12,653,000', '12,321,000', '11,589,000', '11,400,000',
       '10,643,000', '10,519,000', '9,636,000', '8,928,000', '8,438,000',
       '8,383,000', '8,357,000', '8,202,000', '8,138,000', '7,600,000',
       '7,419,000', '7,264,000', '7,031,000', '6,898,000', '6,891,000',
       '6,639,000', '6,581,000', '6,512,000', '6,481,000', '5,690,000',
       '5,682,000', '5,519,000', '5,518,000', '5,426,000', '5,326,000',
       '5,161,000', '4,995,000', '4,739,000', '4,682,000', '4,526,000',
       '4,485,000', '4,375,000', '4,265,000', '4,094,000', '3,986,000',
       '3,944,000', '3,824,000', '3,815,000', '3,751,000', '3,673,000',
       '3,428,000', '3,334,000', '3,229,000', '3,225,000', '3,005,000',
       '2,860,000', '2,857,000', '2,853,000', '2,803,000', '2,491,000',
       '2,467,000', '2,344,000', '2,315,000', '2,288,000', '2,212,000',
       '2,139,000', '1,849,000', '1,818,000', '1,798,000', '1,790,000',
       '1,772,000', '1,555,000', '1,510,000', '1,452,000', '1,242,000',
       '1,222,000', '1,174,000', '1,148,000', '1,082,000', '1,060,000',
       '955,000', '904,000', '842,000', '829,000', '812,000', '785,000',
       '779,000', '759,000', '758,000', '749,000', '731,000', '646,000',
       '627,000', '608,000', '537,000', '525,000', '505,000', '472,000',
       '432,000', '427,000', '377,000', '352,000', '349,000', '345,000',
       '326,000', '320,000', '305,000', '294,000', '285,000', '277,000',
       '259,000', '243,000', '220,000', '210,000', '200,000', '199,000',
       '190,000', '180,000', '176,000', '172,000', '167,000', '162,000',
       '156,000', '149,000', '148,000', '136,000', '131,000', '104,000',
       '94,000', '93,000', '72,000', '63,000', '60,000', '55,000',
       '54,000', '50,000', '41,000', '39,000', '37,000', '34,000',
       '32,000', '29,000', '26,000', '19,000', '17,000', '12,000',
       '10,000', '6,000', '5,000', '3,000'], dtype=object)

In [404]:
#reemplazamos las , por espacios en blanco
tabla2['Kw']=tabla2['Kw'].astype(str).str.strip().str.replace(r',', '', regex=True)
tabla2['Kw']

0      2949000000
1      1235000000
2       499136000
3       361617000
4       301926000
          ...
206         12000
207         10000
208          6000
209          5000
210          3000
Name: Kw, Length: 211, dtype: object

In [405]:
#analizaremos los "objetos extraños" en la tabla 3
pd.unique(tabla3['Btu/Person'][~tabla3['Btu/Person'].astype(str).str.contains(r'\d+\.\d+', regex=True)])

array(['814,308,000', '643,259,000', '554,202,000', '450,432,000',
       '403,365,000', '389,848,000', '349,692,000', '311,599,000',
       '296,586,000', '278,474,000', '261,142,000', '234,698,000',
       '234,668,000', '224,858,000', '224,651,000', '223,158,000',
       '206,961,000', '206,102,000', '190,416,000', '185,536,000',
       '183,540,000', '172,936,000', '160,779,000', '153,952,000',
       '150,555,000', '143,149,000', '142,102,000', '136,306,000',
       '129,504,000', '127,582,000', '123,526,000', '122,737,000',
       '121,647,000', '120,457,000', '120,211,000', '116,811,000',
       '113,837,000', '113,805,000', '113,163,000', '112,437,000',
       '110,114,000', '107,188,000', '104,821,000', '104,502,000',
       '104,409,000', '103,651,000', '102,171,000', '101,120,000',
       '100,844,000', '99,578,000', '98,847,000', '98,513,000',
       '96,797,000', '96,152,000', '94,280,000', '92,693,000',
       '91,884,000', '91,227,000', '89,105,000', '86,286,000',
       '86,197,000', '83,700,000', '81,454,000', '80,602,000',
       '79,907,000', '78,496,000', '78,010,000', '73,679,000',
       '73,285,000', '71,420,000', '70,521,000', '68,293,000',
       '67,132,000', '66,998,000', '66,467,000', '65,908,000',
       '64,641,000', '64,311,000', '64,082,000', '63,407,000',
       '61,843,000', '60,896,000', '60,188,000', '59,377,000',
       '57,856,000', '57,539,000', '56,104,000', '56,076,000',
       '55,305,000', '54,689,000', '54,509,000', '54,474,000',
       '52,085,000', '50,886,000', '48,889,000', '47,522,000',
       '46,045,000', '45,755,000', '43,105,000', '42,095,000',
       '41,703,000', '40,263,000', '39,329,000', '37,390,000',
       '37,253,000', '36,395,000', '35,700,000', '35,686,000',
       '34,975,000', '34,463,000', '33,754,000', '32,909,000',
       '32,443,000', '30,923,000', '30,752,000', '30,725,000',
       '29,340,000', '29,305,000', '27,580,000', '27,407,000',
       '26,070,000', '25,733,000', '25,375,000', '25,179,000',
       '24,421,000', '23,830,000', '23,520,000', '23,476,000',
       '23,272,000', '22,101,000', '21,734,000', '19,999,000',
       '18,823,000', '17,654,000', '17,096,000', '16,642,000',
       '16,192,000', '15,664,000', '14,991,000', '14,135,000',
       '14,076,000', '13,569,000', '12,934,000', '12,372,000',
       '11,472,000', '10,855,000', '10,660,000', '10,493,000',
       '10,428,000', '9,146,000', '8,875,000', '8,781,000', '8,578,000',
       '8,489,000', '8,384,000', '8,303,000', '8,265,000', '8,117,000',
       '7,993,000', '7,351,000', '7,139,000', '6,825,000', '6,604,000',
       '6,472,000', '6,145,000', '5,789,000', '5,655,000', '5,486,000',
       '5,235,000', '4,538,000', '4,307,000', '4,271,000', '4,091,000',
       '3,486,000', '3,481,000', '3,380,000', '2,987,000', '2,977,000',
       '2,731,000', '2,366,000', '2,351,000', '2,301,000', '2,252,000',
       '2,092,000', '1,822,000', '1,816,000', '1,808,000', '1,792,000',
       '1,772,000', '1,502,000', '1,305,000', '954,000', '946,000',
       '649,000'], dtype=object)

In [406]:
#reemplazamos las , por espacios en blanco
tabla3['Btu/Person']=tabla3['Btu/Person'].astype(str).str.strip().str.replace(r',', '', regex=True)
tabla3['Btu/Person']

0      814308000
1      643259000
2      554202000
3      450432000
4      403365000
         ...
190      1502000
191      1305000
192       954000
193       946000
194       649000
Name: Btu/Person, Length: 195, dtype: object

In [407]:
#analizaremos los "objetos extraños" en la tabla 4
pd.unique(tabla4.Value[~tabla4.Value.astype(str).str.contains(r'\d+\.\d+', regex=True)])

array(['$3,450,000,000,000', '$1,295,000,000,000', '$863,892,000,000',
       '$773,426,000,000', '$627,793,000,000', '$597,217,000,000',
       '$457,949,000,000', '$456,700,000,000', '$425,554,000,000',
       '$420,930,000,000', '$359,835,000,000', '$355,021,000,000',
       '$322,700,000,000', '$247,396,000,000', '$240,792,000,000',
       '$224,470,000,000', '$214,317,000,000', '$204,661,000,000',
       '$193,783,000,000', '$189,491,000,000', '$177,915,000,000',
       '$148,379,000,000', '$146,359,000,000', '$140,858,000,000',
       '$120,600,000,000', '$117,551,000,000', '$113,463,000,000',
       '$112,233,000,000', '$109,371,000,000', '$103,742,000,000',
       '$103,089,000,000', '$92,427,000,000', '$92,238,000,000',
       '$81,217,000,000', '$80,459,000,000', '$73,000,000,000',
       '$71,394,000,000', '$69,830,000,000', '$62,492,000,000',
       '$61,703,000,000', '$60,863,000,000', '$59,041,000,000',
       '$52,619,000,000', '$51,539,000,000', '$46,377,000,000',
       '$46,334,000,000', '$45,719,000,000', '$40,813,000,000',
       '$40,510,000,000', '$36,328,000,000', '$35,965,000,000',
       '$35,564,000,000', '$35,243,000,000', '$34,558,000,000',
       '$33,070,000,000', '$32,513,000,000', '$31,212,000,000',
       '$27,771,000,000', '$27,569,000,000', '$24,910,000,000',
       '$23,081,000,000', '$21,860,000,000', '$21,311,000,000',
       '$19,984,000,000', '$17,298,000,000', '$16,929,000,000',
       '$16,257,000,000', '$15,560,000,000', '$15,547,000,000',
       '$15,487,000,000', '$13,942,000,000', '$13,749,000,000',
       '$13,730,000,000', '$13,608,000,000', '$13,225,000,000',
       '$12,905,000,000', '$12,456,000,000', '$11,350,000,000',
       '$11,288,000,000', '$9,886,000,000', '$9,794,000,000',
       '$9,749,000,000', '$9,240,000,000', '$9,205,000,000',
       '$8,118,000,000', '$7,670,000,000', '$7,543,000,000',
       '$7,342,000,000', '$7,248,000,000', '$6,757,000,000',
       '$6,455,000,000', '$6,257,000,000', '$6,256,000,000',
       '$6,168,000,000', '$5,809,000,000', '$5,453,000,000',
       '$5,447,000,000', '$5,133,000,000', '$5,118,000,000',
       '$5,104,000,000', '$5,050,000,000', '$5,015,000,000',
       '$5,002,000,000', '$4,957,000,000', '$4,869,000,000',
       '$4,786,000,000', '$4,756,000,000', '$4,483,000,000',
       '$4,442,000,000', '$3,901,000,000', '$3,847,000,000',
       '$3,637,000,000', '$3,624,000,000', '$3,607,000,000',
       '$3,426,000,000', '$3,359,000,000', '$3,237,000,000',
       '$3,176,000,000', '$3,137,000,000', '$3,046,000,000',
       '$2,977,000,000', '$2,968,000,000', '$2,956,000,000',
       '$2,632,000,000', '$2,593,000,000', '$2,586,000,000',
       '$2,512,000,000', '$2,370,000,000', '$2,039,000,000',
       '$1,834,000,000', '$1,827,000,000', '$1,800,000,000',
       '$1,789,000,000', '$1,770,000,000', '$1,606,000,000',
       '$1,574,000,000', '$1,548,000,000', '$1,538,000,000',
       '$1,499,000,000', '$1,468,000,000', '$1,372,000,000',
       '$1,346,000,000', '$1,323,000,000', '$1,314,000,000',
       '$1,251,000,000', '$1,245,000,000', '$1,223,000,000',
       '$895,275,000', '$854,089,000', '$837,881,000', '$836,088,000',
       '$781,995,000', '$715,391,000', '$698,900,000', '$688,220,000',
       '$682,794,000', '$654,481,000', '$647,800,000', '$643,768,000',
       '$599,660,000', '$594,498,000', '$590,523,000', '$580,900,000',
       '$577,028,000', '$502,034,000', '$497,434,000', '$495,699,000',
       '$479,261,000', '$473,729,000', '$447,090,000', '$424,324,000',
       '$407,300,000', '$404,130,000', '$396,530,000', '$374,405,000',
       '$364,367,000', '$356,400,000', '$324,561,000', '$286,075,000',
       '$280,564,000', '$234,000,000', '$211,591,000', '$191,694,000',
       '$183,615,000', '$183,530,000', '$177,934,000', '$115,530,000',
       '$90,350,000', '$77,800,000', '$76,380,000', '$49,000,000',
       '$47,580,000', '$46,247,000', '$30,450,000'], dtype=object)

In [408]:
#reemplazamos las , y $ por espacios en blanco
tabla4['Value']=tabla4['Value'].astype(str).str.strip().str.replace(r',', '', regex=True)
tabla4['Value']=tabla4['Value'].astype(str).str.strip().str.replace(r'^\$', '', regex=True)
tabla4['Value']

0      3450000000000
1      1295000000000
2       863892000000
3       773426000000
4       627793000000
           ...
190         76380000
191         49000000
192         47580000
193         46247000
194         30450000
Name: Value, Length: 195, dtype: object

In [409]:
#convertir los valores a numericos
tabla2.Kw=pd.to_numeric(tabla2.Kw, errors='coerce')
tabla2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 211 non-null    object
 1   Slug                 211 non-null    object
 2   Kw                   211 non-null    int64
 3   Date_Of_Information  211 non-null    int64
 4   Ranking              211 non-null    int64
 5   Region               211 non-null    object
dtypes: int64(3), object(3)
memory usage: 10.0+ KB

In [410]:
tabla3['Btu/Person']=pd.to_numeric(tabla3['Btu/Person'], errors='coerce')
tabla3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 195 non-null    object
 1   Slug                 195 non-null    object
 2   Btu/Person           195 non-null    int64
 3   Date_Of_Information  195 non-null    int64
 4   Ranking              195 non-null    int64
 5   Region               195 non-null    object
dtypes: int64(3), object(3)
memory usage: 9.3+ KB

In [414]:
tabla4.Value=pd.to_numeric(tabla4.Value, errors='coerce')
tabla4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 195 non-null    object
 1   Slug                 195 non-null    object
 2   Value                195 non-null    int64
 3   Date_Of_Information  195 non-null    int64
 4   Ranking              195 non-null    int64
 5   Region               195 non-null    object
dtypes: int64(3), object(3)
memory usage: 9.3+ KB

In [415]:
#Al tener todas las tablas limpias iniciamos con el merge

In [422]:
tabla1.shape, tabla2.shape,tabla3.shape, tabla4.shape
#identificamos el número de filas y columnas, tambien queremos ver las columnas de las tablas que queremos unir

((197, 6), (211, 6), (195, 6), (195, 6))

In [423]:
tabla3.columns

Index(['Name', 'Slug', 'Btu/Person', 'Date_Of_Information', 'Ranking',
       'Region'],
      dtype='object')

In [424]:
tabla4.columns

Index(['Name', 'Slug', 'Value', 'Date_Of_Information', 'Ranking', 'Region'], dtype='object')

In [425]:
#Iniciaremos analizando la tabla 3 y 4
#elementos que son diferentes de la tabla 3 y 4 usando la columna Slug
solotabla3=set(tabla3.Slug)-set(tabla4.Slug)
solotabla3

{'american-samoa',
 'bermuda',
 'british-virgin-islands',
 'guam',
 'kiribati',
 'korea-north',
 'puerto-rico'}

In [427]:
#elementos son diferentes de la tabla 3 y 4
solotabla4=set(tabla4.Slug)-set(tabla3.Slug)
solotabla4

{'anguilla',
 'iceland',
 'micronesia-federated-states-of',
 'montserrat',
 'palau',
 'san-marino',
 'trinidad-and-tobago'}

In [428]:
!pip install thefuzz

Requirement already satisfied: thefuzz in /usr/local/lib/python3.11/dist-packages (0.22.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from thefuzz) (3.13.0)

In [429]:
from thefuzz import process as fz
[(c,fz.extractOne(c,solotabla3)) for c in sorted(solotabla4)]

[('anguilla', ('guam', 50)),
 ('iceland', ('british-virgin-islands', 64)),
 ('micronesia-federated-states-of', ('puerto-rico', 47)),
 ('montserrat', ('korea-north', 38)),
 ('palau', ('puerto-rico', 51)),
 ('san-marino', ('american-samoa', 55)),
 ('trinidad-and-tobago', ('kiribati', 43))]

In [430]:
#los datos no presentan un alto grado de similitud
#por lo que no puede haber una correcta recuperacion de datos.
tabla34=tabla3.merge(tabla4,left_on='Slug', right_on='Slug')
tabla34

,Name_x,Slug,Btu/Person,Date_Of_Information_x,Ranking_x,Region_x,Name_y,Value,Date_Of_Information_y,Ranking_y,Region_y
0,Qatar,qatar,814308000,2023,1,Middle East,Qatar,51539000000,2023,44,Middle East
1,Singapore,singapore,643259000,2023,2,East and Southeast Asia,Singapore,359835000000,2023,11,East and Southeast Asia
2,Bahrain,bahrain,554202000,2023,3,Middle East,Bahrain,5118000000,2023,99,Middle East
3,United Arab Emirates,united-arab-emirates,450432000,2023,4,Middle East,United Arab Emirates,189491000000,2023,20,Middle East
4,Brunei,brunei,403365000,2023,5,East and Southeast Asia,Brunei,4483000000,2023,108,East and Southeast Asia
...,...,...,...,...,...,...,...,...,...,...,...
183,Chad,chad,1502000,2023,191,Africa,Chad,211591000,2021,183,Africa
184,"Congo, Democratic Republic of the",congo-democratic-republic-of-the,1305000,2023,192,Africa,"Congo, Democratic Republic of the",5104000000,2023,100,Africa
185,Central African Republic,central-african-republic,954000,2023,193,Africa,Central African Republic,374405000,2022,176,Africa
186,Burundi,burundi,946000,2023,194,Africa,Burundi,90350000,2023,189,Africa
187,Somalia,somalia,649000,2023,195,Africa,Somalia,30450000,2014,195,Africa

In [431]:
#procedemos a borrar las columnas que no son necesarias por ahora
tabla34.drop(['Ranking_x','Region_y','Ranking_y','Name_y','Date_Of_Information_x','Date_Of_Information_y'], axis=1, inplace=True)

In [432]:
tabla34.head()

,Name_x,Slug,Btu/Person,Region_x,Value
0,Qatar,qatar,814308000,Middle East,51539000000
1,Singapore,singapore,643259000,East and Southeast Asia,359835000000
2,Bahrain,bahrain,554202000,Middle East,5118000000
3,United Arab Emirates,united-arab-emirates,450432000,Middle East,189491000000
4,Brunei,brunei,403365000,East and Southeast Asia,4483000000

In [433]:
#pasamos a analizar la tabla 1 y 2
tabla1.columns

Index(['Name', 'Slug', '%_Of_Gdp', 'Date_Of_Information', 'Ranking', 'Region'], dtype='object')

In [434]:
tabla2.columns

Index(['Name', 'Slug', 'Kw', 'Date_Of_Information', 'Ranking', 'Region'], dtype='object')

In [435]:
#elementos que son diferentes de la tabla 1 y 2 usando la columna Slug
solotabla1=set(tabla1.Slug)-set(tabla2.Slug)
solotabla1

{'andorra',
 'anguilla',
 'curacao',
 'liechtenstein',
 'marshall-islands',
 'micronesia-federated-states-of',
 'monaco',
 'palau',
 'san-marino'}

In [436]:
#elementos son diferentes de la tabla 1 y 2
solotabla2=set(tabla2.Slug)-set(tabla1.Slug)
solotabla2

{'american-samoa',
 'bosnia-and-herzegovina',
 'cuba',
 'equatorial-guinea',
 'eritrea',
 'falkland-islands-islas-malvinas',
 'french-polynesia',
 'gibraltar',
 'guam',
 'korea-north',
 'kosovo',
 'libya',
 'montenegro',
 'new-caledonia',
 'niue',
 'north-macedonia',
 'saint-helena-ascension-and-tristan-da-cunha',
 'saint-pierre-and-miquelon',
 'sudan',
 'syria',
 'taiwan',
 'virgin-islands',
 'yemen'}

In [437]:
#unimos ambas tablas
tabla12=tabla1.merge(tabla2,left_on='Slug', right_on='Slug')
tabla12

,Name_x,Slug,%_Of_Gdp,Date_Of_Information_x,Ranking_x,Region_x,Name_y,Kw,Date_Of_Information_y,Ranking_y,Region_y
0,Solomon Islands,solomon-islands,12.8,2020,2,Australia and Oceania,Solomon Islands,37000,2023,199,Australia and Oceania
1,Kiribati,kiribati,12.4,2019,3,Australia and Oceania,Kiribati,12000,2023,207,Australia and Oceania
2,Greenland,greenland,10.2,2019,4,North America,Greenland,190000,2023,174,North America
3,Bolivia,bolivia,9.8,2020,5,South America,Bolivia,4375000,2023,96,South America
4,Namibia,namibia,9.6,2021,7,Africa,Namibia,646000,2023,146,Africa
...,...,...,...,...,...,...,...,...,...,...,...
183,Haiti,haiti,1.4,2020,192,Central America and the Caribbean,Haiti,472000,2023,152,Central America and the Caribbean
184,Papua New Guinea,papua-new-guinea,1.4,2020,193,East and Southeast Asia,Papua New Guinea,1148000,2023,132,East and Southeast Asia
185,Venezuela,venezuela,1.3,2017,194,South America,Venezuela,33493000,2023,35,South America
186,Nigeria,nigeria,0.5,2013,196,Africa,Nigeria,4094000,2023,98,Africa
187,Somalia,somalia,0.3,2019,197,Africa,Somalia,156000,2023,180,Africa

In [438]:
from thefuzz import process as fz
[(c,fz.extractOne(c,solotabla1)) for c in sorted(solotabla2)]
# los datos no presentan un alto índice de similitud por lo que no podemos recuperar datos correctamente

[('american-samoa', ('monaco', 60)),
 ('bosnia-and-herzegovina', ('andorra', 53)),
 ('cuba', ('curacao', 68)),
 ('equatorial-guinea', ('palau', 54)),
 ('eritrea', ('micronesia-federated-states-of', 51)),
 ('falkland-islands-islas-malvinas', ('marshall-islands', 86)),
 ('french-polynesia', ('micronesia-federated-states-of', 48)),
 ('gibraltar', ('palau', 54)),
 ('guam', ('anguilla', 50)),
 ('korea-north', ('andorra', 51)),
 ('kosovo', ('micronesia-federated-states-of', 36)),
 ('libya', ('liechtenstein', 51)),
 ('montenegro', ('monaco', 60)),
 ('new-caledonia', ('monaco', 54)),
 ('niue', ('liechtenstein', 51)),
 ('north-macedonia', ('monaco', 60)),
 ('saint-helena-ascension-and-tristan-da-cunha', ('andorra', 57)),
 ('saint-pierre-and-miquelon', ('san-marino', 51)),
 ('sudan', ('san-marino', 68)),
 ('syria', ('micronesia-federated-states-of', 54)),
 ('taiwan', ('liechtenstein', 54)),
 ('virgin-islands', ('marshall-islands', 63)),
 ('yemen', ('liechtenstein', 45))]

In [439]:
#procedemos a borrar las columnas que no son necesarias por ahora
tabla12.drop(['Ranking_x','Region_y','Ranking_y','Name_y','Date_Of_Information_x','Date_Of_Information_y'], axis=1, inplace=True)

In [440]:
tabla12.head()

            Name_x             Slug  %_Of_Gdp               Region_x       Kw
0  Solomon Islands  solomon-islands      12.8  Australia and Oceania    37000
1         Kiribati         kiribati      12.4  Australia and Oceania    12000
2        Greenland        greenland      10.2          North America   190000
3          Bolivia          bolivia       9.8          South America  4375000
4          Namibia          namibia       9.6                 Africa   646000

In [441]:
#Analizaremos la tabla12 y 34
solotabla12=set(tabla12.Slug)-set(tabla34.Slug)
solotabla12

{'bermuda',
 'british-virgin-islands',
 'cook-islands',
 'faroe-islands',
 'greenland',
 'iceland',
 'kiribati',
 'montserrat',
 'nauru',
 'puerto-rico',
 'trinidad-and-tobago',
 'turks-and-caicos-islands'}

In [442]:
#Analizaremos la tabla12 y 34
solotabla34=set(tabla34.Slug)-set(tabla12.Slug)
solotabla34

{'bosnia-and-herzegovina',
 'cuba',
 'equatorial-guinea',
 'eritrea',
 'kosovo',
 'libya',
 'montenegro',
 'north-macedonia',
 'sudan',
 'syria',
 'taiwan',
 'yemen'}

In [443]:
tablaunida=tabla12.merge(tabla34,left_on='Slug', right_on='Slug')
tablaunida

,Name_x_x,Slug,%_Of_Gdp,Region_x_x,Kw,Name_x_y,Btu/Person,Region_x_y,Value
0,Solomon Islands,solomon-islands,12.8,Australia and Oceania,37000,Solomon Islands,5655000,Australia and Oceania,688220000
1,Bolivia,bolivia,9.8,South America,4375000,Bolivia,29340000,South America,1800000000
2,Namibia,namibia,9.6,Africa,646000,Namibia,21734000,Africa,2956000000
3,Sierra Leone,sierra-leone,9.1,Africa,149000,Sierra Leone,2301000,Africa,495699000
4,Belize,belize,8.7,Central America and the Caribbean,220000,Belize,30752000,Central America and the Caribbean,473729000
...,...,...,...,...,...,...,...,...,...
171,Haiti,haiti,1.4,Central America and the Caribbean,472000,Haiti,3486000,Central America and the Caribbean,2586000000
172,Papua New Guinea,papua-new-guinea,1.4,East and Southeast Asia,1148000,Papua New Guinea,8781000,East and Southeast Asia,3901000000
173,Venezuela,venezuela,1.3,South America,33493000,Venezuela,54474000,South America,9794000000
174,Nigeria,nigeria,0.5,Africa,4094000,Nigeria,7993000,Africa,35564000000
175,Somalia,somalia,0.3,Africa,156000,Somalia,649000,Africa,30450000

In [444]:
from thefuzz import process as fz
[(c,fz.extractOne(c,solotabla12)) for c in sorted(solotabla34)]
# los datos no presentan un alto índice de similitud por lo que no podemos recuperar datos correctamente

[('bosnia-and-herzegovina', ('nauru', 51)),
 ('cuba', ('bermuda', 51)),
 ('equatorial-guinea', ('bermuda', 49)),
 ('eritrea', ('puerto-rico', 51)),
 ('kosovo', ('turks-and-caicos-islands', 43)),
 ('libya', ('kiribati', 54)),
 ('montenegro', ('montserrat', 60)),
 ('north-macedonia', ('nauru', 45)),
 ('sudan', ('turks-and-caicos-islands', 54)),
 ('syria', ('montserrat', 54)),
 ('taiwan', ('trinidad-and-tobago', 54)),
 ('yemen', ('greenland', 54))]

In [445]:
#procedemos a eliminar columnas innecesarias
tablaunida.drop(['Region_x_y','Slug','Name_x_y'], axis=1, inplace=True)

In [446]:
# renombrar columna
tablaunida = tablaunida.rename(columns={'Name_x_x':'Country', '%_Of_Gdp':'%_of_GDP','Kw':'KW', 'Region_x_x':'Region'})

In [447]:
tablaunida.head()

,Country,%_of_GDP,Region,KW,Btu/Person,Value
0,Solomon Islands,12.8,Australia and Oceania,37000,5655000,688220000
1,Bolivia,9.8,South America,4375000,29340000,1800000000
2,Namibia,9.6,Africa,646000,21734000,2956000000
3,Sierra Leone,9.1,Africa,149000,2301000,495699000
4,Belize,8.7,Central America and the Caribbean,220000,30752000,473729000

In [448]:
tablaunida.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     176 non-null    object
 1   %_of_GDP    176 non-null    float64
 2   Region      176 non-null    object
 3   KW          176 non-null    int64
 4   Btu/Person  176 non-null    int64
 5   Value       176 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 8.4+ KB

In [449]:
#Determinaremos los valores promedio, mínimo y máximo en base a las regiones
varsAggregated=['%_of_GDP','KW','Btu/Person','Value']
funciones=['mean','min','max']
tablaregion=tablaunida.groupby('Region')[varsAggregated].agg(funciones)
#y procedemos a hacer 'FLAT' por si queremos exportar el trabajo a otra aplicacion
#de esta manera aseguramos que los datos se visualicen correctamente
#tablaregion.columns=['_'.join(col) for col in tablaregion.columns.to_flat_index()]
tablaregion

                                   %_of_GDP                       KW  \
                                       mean  min   max          mean
Region
Africa                             4.268000  0.3   9.6  4.619820e+06
Australia and Oceania              6.314286  2.2  12.8  1.706100e+07
Central America and the Caribbean  4.555000  1.4   8.7  1.580500e+06
Central Asia                       4.333333  2.8   6.2  4.239578e+07
East and Southeast Asia            3.633333  1.4   6.3  2.108446e+08
Europe                             5.151429  3.1   7.2  4.027509e+07
Middle East                        4.528571  1.7   7.8  3.381729e+07
North America                      5.200000  4.3   6.1  5.008580e+08
South America                      4.808333  1.3   9.8  3.550408e+07
South Asia                         3.850000  1.9   7.0  7.211612e+07

                                                            Btu/Person  \
                                         min         max          mean
Region
Africa                                 29000    65989000  1.412284e+07
Australia and Oceania                  34000   108193000  6.221671e+07
Central America and the Caribbean      41000     6581000  5.587300e+07
Central Asia                         3944000   301926000  1.039161e+08
East and Southeast Asia               277000  2949000000  1.186874e+08
Europe                                779000   275658000  1.131422e+08
Middle East                           352000   119620000  2.406509e+08
North America                      105586000  1235000000  2.158707e+08
South America                         259000   240251000  4.641467e+07
South Asia                            432000   499136000  2.350638e+07

                                                               Value  \
                                        min        max          mean
Region
Africa                               649000   98847000  7.087900e+09
Australia and Oceania               5655000  223158000  1.155909e+10
Central America and the Caribbean   3486000  153952000  4.447386e+09
Central Asia                       16192000  261142000  8.023244e+10
East and Southeast Asia             6825000  643259000  3.723743e+11
Europe                             27407000  234698000  8.739651e+10
Middle East                        14991000  814308000  1.002204e+11
North America                      57539000  311599000  3.684313e+11
South America                      25733000   78496000  4.994452e+10
South Asia                          3380000   64082000  8.624625e+10


                                            min            max
Region
Africa                                 30450000    81217000000
Australia and Oceania                 396530000    61703000000
Central America and the Caribbean     183530000    21311000000
Central Asia                         3237000000   597217000000
East and Southeast Asia               781995000  3450000000000
Europe                               1223000000   863892000000
Middle East                          1323000000   457949000000
North America                      117551000000   773426000000
South America                         895275000   355021000000
South Asia                            590523000   627793000000

In [450]:
#Ahora podemos proseguir con el establecimiento de intervalos para cada variable
!pip install mapclassify

Requirement already satisfied: mapclassify in /usr/local/lib/python3.11/dist-packages (2.8.1)
Requirement already satisfied: networkx>=2.7 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (3.4.2)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (2.0.2)
Requirement already satisfied: pandas!=1.5.0,>=1.4 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (1.6.1)
Requirement already satisfied: scipy>=1.8 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (1.15.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2025.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.0->mapclassify) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.0->mapclassify) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas!=1.5.0,>=1.4->mapclassify) (1.17.0)

In [451]:
import mapclassify
import numpy as np
K=5
#iniciamos con la columna %_of_GDP
#Se eligió el método FisherJenks
#Encuentra el esquema de clasificación óptimo minimizando la varianza dentro de las clases y maximizando la varianza entre clases. Su objetivo es crear las clases más homogéneas posibles.
intervaloGDP=mapclassify.FisherJenks(tablaunida['%_of_GDP'], k=K)
intervaloGDP

FisherJenks

   Interval      Count
----------------------
[ 0.30,  2.70] |    26
( 2.70,  4.10] |    52
( 4.10,  5.60] |    55
( 5.60,  7.80] |    36
( 7.80, 12.80] |     7

In [452]:
#se repite la acción para cada columna
intervaloKW=mapclassify.FisherJenks(tablaunida['KW'], k=K)
intervaloBTU=mapclassify.FisherJenks(tablaunida['Btu/Person'], k=K)
intervaloVALUE=mapclassify.FisherJenks(tablaunida['Value'], k=K)

In [458]:
#ahora agregaremos los intervalos en forma de columnas
tablaunida['Intervalo_GDP']=intervaloGDP.yb
tablaunida['Intervalo_KW']=intervaloKW.yb
tablaunida['Intervalo_BTU']=intervaloBTU.yb
tablaunida['Intervalo_VALUE']=intervaloVALUE.yb
tablaunida

,Country,Region,%_of_GDP,Intervalo_GDP,KW,Intervalo_KW,Btu/Person,Intervalo_BTU,Value,Intervalo_VALUE
0,Solomon Islands,Australia and Oceania,12.8,4,37000,0,5655000,0,688220000,0
1,Bolivia,South America,9.8,4,4375000,0,29340000,0,1800000000,0
2,Namibia,Africa,9.6,4,646000,0,21734000,0,2956000000,0
3,Sierra Leone,Africa,9.1,4,149000,0,2301000,0,495699000,0
4,Belize,Central America and the Caribbean,8.7,4,220000,0,30752000,0,473729000,0
...,...,...,...,...,...,...,...,...,...,...
171,Haiti,Central America and the Caribbean,1.4,0,472000,0,3486000,0,2586000000,0
172,Papua New Guinea,East and Southeast Asia,1.4,0,1148000,0,8781000,0,3901000000,0
173,Venezuela,South America,1.3,0,33493000,0,54474000,1,9794000000,0
174,Nigeria,Africa,0.5,0,4094000,0,7993000,0,35564000000,0
175,Somalia,Africa,0.3,0,156000,0,649000,0,30450000,0

In [459]:
#Ahora podemos reorganizar las columnas para tener un mejor orden
nuevoorden=['Country','Region','%_of_GDP','Intervalo_GDP','KW','Intervalo_KW','Btu/Person','Intervalo_BTU','Value','Intervalo_VALUE']
tablaunida=tablaunida.reindex(columns=nuevoorden)
tablaunida

,Country,Region,%_of_GDP,Intervalo_GDP,KW,Intervalo_KW,Btu/Person,Intervalo_BTU,Value,Intervalo_VALUE
0,Solomon Islands,Australia and Oceania,12.8,4,37000,0,5655000,0,688220000,0
1,Bolivia,South America,9.8,4,4375000,0,29340000,0,1800000000,0
2,Namibia,Africa,9.6,4,646000,0,21734000,0,2956000000,0
3,Sierra Leone,Africa,9.1,4,149000,0,2301000,0,495699000,0
4,Belize,Central America and the Caribbean,8.7,4,220000,0,30752000,0,473729000,0
...,...,...,...,...,...,...,...,...,...,...
171,Haiti,Central America and the Caribbean,1.4,0,472000,0,3486000,0,2586000000,0
172,Papua New Guinea,East and Southeast Asia,1.4,0,1148000,0,8781000,0,3901000000,0
173,Venezuela,South America,1.3,0,33493000,0,54474000,1,9794000000,0
174,Nigeria,Africa,0.5,0,4094000,0,7993000,0,35564000000,0
175,Somalia,Africa,0.3,0,156000,0,649000,0,30450000,0

In [460]:
#lo guardamos usando pickle
tablaunida.to_pickle("tabla.pkl")
dfPickle=pd.read_pickle("tabla.pkl")
dfPickle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          176 non-null    object
 1   Region           176 non-null    object
 2   %_of_GDP         176 non-null    float64
 3   Intervalo_GDP    176 non-null    int64
 4   KW               176 non-null    int64
 5   Intervalo_KW     176 non-null    int64
 6   Btu/Person       176 non-null    int64
 7   Intervalo_BTU    176 non-null    int64
 8   Value            176 non-null    int64
 9   Intervalo_VALUE  176 non-null    int64
dtypes: float64(1), int64(7), object(2)
memory usage: 13.9+ KB